
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincare</title>
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
 
<!-- Your existing HTML content -->

<!-- Modify the header to include login/logout functionality -->
<header>
    <a href="#" class="logo">Star<i class='bx bxs-star'></i>Knows</a>
    {% if 'username' in session %}
        <p>Welcome, {{ session['username'] }}! <a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
            <li><a href="#p">products</a></li>
            <li><a href="#st">skin type</a></li>
            <li><a href="{{ url_for('register') }}">register</a></li>
            <li><a href="{{ url_for('login') }}">login</a></li>
        </ul>
    {% endif %}
</header>


    <!--Home-->
    <section class="home swiper" id="home">
    <div class="swiper-wrapper">
        <!--Slide1-->
      <div class="swiper-slide container"> 
        <div class="home-text">
            <span>Stars Knows</span>
            <h1>Little Angel Collection</h1>
            <a href="#" class="btn">Shop Now </a>
        </div>
        <img src="blue star.jpg" alt="Blue">
      </div>
      <!--Slide2-->
      <div class="swiper-slide container"> 
        <div class="home-text">
            <span>Stars Knows</span>
            <h1>Little Angel Collection</h1>
            <a href="#" class="btn">Shop Now </a>
        </div>
        <img src="choco color.jpg" alt=" choco color">
      </div>
      <!--Slide3-->
      <div class="swiper-slide container"> 
        <div class="home-text">
            <span>Stars Knows</span>
            <h1>Little Angel Collection</h1>
            <a href="#" class="btn">Shop Now </a>
        </div>
        <img src="pink pin.jpg" alt="pink">
      </div> 


    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

    </section>



<!---BOX 1-->
        <div class="categories-container">
            <div class="box box1">
                <img src="" alt="">
                <h3>Blush</h3>
                <span>22 items</span>
        <i class='bx bx-right-arrow-alt'></i>
    </div>


<!---BOX 2-->
       
            <div class="box box2">
                <img src="" alt="">
                <h3>Eyeshadow</h3>
                <span>22 items</span>
        <i class='bx bx-right-arrow-alt'></i>
    </div>

<!---BOX 3-->
       
            <div class="box box3">
                <img src="" alt="">
                <h3>Highlighter</h3>
                <span>22 items</span>
        <i class='bx bx-right-arrow-alt'></i>
    </div>
</div>
   </section>

   <section class="about" id="about">
    <img src="flower.webp" alt = "about us">
    <div class="about-text">
    <span>About us </span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto, repellendus perferendis consequuntur, necessitatibus quidem aliquam tenetur voluptatem quisquam nobis recusandae nam, voluptas error rem sapiente quae. Eveniet, iusto sed.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, consequatur aut?</p>
    <button type="button">View all</button>

  </div>
</section>
<section class="customers" id="costumers">
    <h2>Why customers love us?</h2>
    <div class="customers-container">
        <!---Review 1-->
        <div class="box">
            <i class='bx bxs-quote-alt-right' ></i>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore non accusantium similique ex deleniti in debitis. Iusto voluptas facilis nemo doloribus laboriosam aut ut? Iusto ab aliquid sint.</p>
            <div class="review-profile"></div>
            <img src="">
            <h3>Lin</h3>
        </div>
                <!---Review 2-->
                <div class="box">
                    <i class='bx bxs-quote-alt-right' ></i>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic quis labore non accusantium similique ex deleniti in debitis. Iusto voluptas facilis nemo doloribus laboriosam aut ut? Iusto ab aliquid sint.</p>
                    <div class="review-profile"></div>
                    <img src="">
                    <h3>Jin</h3>
                </div>
    </div>

</section>


<!--Footer-->
<section class="footer" id="footer">
    <div class="footer-box">
        <a href="#" class="logo"><i class='bx bxs-basket'></i></a>
        <p>Adress 50th, Street ...<br>Floor, 10022</p>
        <div class="social">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
        </div>
        </div>
        <div class="footer-box">
            <h2>Categories</h2>
            <a href="#">Blush</a>
            <a href="#">Eyeshadow</a>
            <a href="#">Ballet swan</a>
        </div>
        <div class="footer-box">
            <h2>Useful Links</h2>
            <a href="#">payment</a>
            <a href="#">Terms & tax</a>
            <a href="#">My blog</a>
            <a href="#">Return Policy</a>
        </div>
        <div class="footer-box">
            <h2>News letter</h2>
            <p>Get 10% discount with <br>Email Newsletter</p>
            <from action="">
                <i class='bx bxs-envelope'></i>
                <input type="email" name="" id="" placeholder="Enter your Email">
                <i class='bx bx-right-arrow-alt' ></i>
            </from>    
        </div>
</section>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--link to JS-->
<script src="main.js"></script>
</body>
</html>

